<div style="margin:15px; margin-top:0;">
    <div style="color: #a11;font-size:15px;">{$Errormsg}</div>
    <div style="color: #1a1;font-size:15px;">{$Successmsg}</div>
    <span style="color:#a11;font-size:20px;"><br>（未包完的的包裹结束作业之后,请立即归还库存!!!）</span>
    <if condition="$isShow">
        <div style="text-align: center;margin-top: 100px;">
            <input type="button" onclick="javascript:location.href='t.php?s=/Package/MakeBale/selectWorkbench.html'" class="btn btn-success" value="进入包装入口"/>
        </div>
    </if>
</div>