<extend name="Public/groupBase"/>
<block name="linkrel">
    <style type="text/css">
        .btn {
            border-radius: 2px;
        }
        .colors{font-size:14px;color:#0066cc}
    </style>
</block>
<block name="bread">
    <li>
        <a class="m-r-xs text-muted welcome-message">&nbsp;&nbsp;<span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;当前位置：</a>
    </li>
    <li>
        <a class="m-r-xs"> 二次分拣统计</a>
    </li>
</block>

<block name="content">
    <div class="container-fluid">
        <!--头部条件搜索框-->
        <div class="row" style="margin-bottom: 10px">
            <form action="__ACTION__" method="post" onSubmit="return checkDate();">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="timeArea_start">分拣开始时间点：</label>
                        <input type="text" class="form-control" value="{$conditions['timeArea_start']}" name="timeArea_start" placeholder="开始时间点" onclick="laydate({format:'YYYY-MM-DD'})" id="timeArea_start"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="timeArea_start">分拣结束时间点：</label>
                        <input type="text" class="form-control" value="{$conditions['timeArea_end']}" name="timeArea_end" onclick="laydate({format:'YYYY-MM-DD'})" placeholder="结束时间点" id="timeArea_end"/>
                    </div>
                    <div class="col-xs-2" style="margin-top: 21px">
                        <div>
                            <button class="btn btn-sm btn-info"> 查询 </button>
                            <button class="btn btn-sm" style="background-color: #0081c2" id="Export"> 导出 </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- 统计数据结果 -->
        <div class="row" style="overflow: auto;">
            <div class="container-fluid">
                <table class="table table-responsive table-hover table-condensed">
                    <tr>
                        <th>序号</th>
                        <th>分拣人</th>
                        <?php $I=1; for($i=$days;$i>=0;$i--) {?>
                        <th><?php echo date('m-d', strtotime($conditions['timeArea_end']." -{$i}day")) ?></th>
                        <?php }?>
                        <th>合计</th>
                    </tr>

                    <foreach name="dataArr" item="a">
                        <tr>
                            <td>{$I++}</td>
                            <td>{$key}({$a.QCuserId})</td>
                            <?php $count = 0; for($i=$days;$i>=0;$i--) {
                            $date = date('Y-m-d', strtotime($conditions['timeArea_end']." -".$i."day"));
                            ?>
                            <td>
                                <?php
                              if(in_array($date,array_keys($a['arr']))){
                                 $num = $a['arr'][$date];
                                 $count = $count + $num;
                                 echo $num;
                              }else{
                                 echo 0;
                              }
                            ?>
                            </td>
                            <?php }?>
                            <td>{$count}</td>
                        </tr>
                    </foreach>

                    <tr>
                        <td></td>
                        <td>合计</td>
                        <?php $counts = 0; for($i=$days;$i>=0;$i--) {
                        $date = date('Y-m-d', strtotime($conditions['timeArea_end']." -".$i."day"));
                        ?>
                        <td>
                            <?php
                              if(in_array($date,array_keys($countsArr['arr']))){
                                 $num = $countsArr['arr'][$date];
                                 $counts = $counts + $num;
                                 echo $num;
                              }else{
                                 echo 0;
                              }
                            ?>
                        </td>
                        <?php }?>
                        <td>{$counts}</td>
                    </tr>
                </table>
            </div>

        </div>
        <!--  -->
        <div class="row">
        </div>
    </div>
</block>

<block name="src_js">
    <!-- laydate -->
    <script src="/newerp/Public/js/plugins/layer/laydate/laydate.js"></script>
    <script type="application/javascript">
        /**
         * 判断时间是否超过一个月
         * @author xiao
         * @date 2018-04-06
         */
        function checkDate() {
            var beginTime = $.trim($('input[name="timeArea_start"]').val());
            var endTime   = $.trim($('input[name="timeArea_end"]').val());
            var time1 = new Date(beginTime).getTime();
            var time2 = new Date(endTime).getTime();
            if(beginTime == ''){
                alert("开始时间不能为空");
                return false;
            }
            if(endTime == ''){
                alert("结束时间不能为空");
                return false;
            }
            if(time1 > time2){
                alert("开始时间不能大于结束时间");
                return false;
            }
            //判断时间跨度是否大于1个月
            var arr1 = beginTime.split('-');
            var arr2 = endTime.split('-');
            arr1[1] = parseInt(arr1[1]);
            arr1[2] = parseInt(arr1[2]);
            arr2[1] = parseInt(arr2[1]);
            arr2[2] = parseInt(arr2[2]);
            var flag = true;
            if(arr1[0] == arr2[0]){ //同年
                if(arr2[1]-arr1[1] > 1){ //月间隔超过1个月
                    flag = false;
                }else if(arr2[1]-arr1[1] == 1){ //月相隔1个月，比较日
                    if(arr2[2] > arr1[2]){ //结束日期的日大于开始日期的日
                        flag = false;
                    }
                }
            }else{ //不同年
                if(arr2[0] - arr1[0] > 1){
                    flag = false;
                }else if(arr2[0] - arr1[0] == 1){
                    if(arr1[1] < 12){ //开始年的月份小于12时，不需要跨年
                        flag = false;
                    }else if(arr1[1]+1-arr2[1] < 12){ //月相隔大于1个月
                        flag = false;
                    }else if(arr1[1]+1-arr2[1] == 12){ //月相隔1个月，比较日
                        if(arr2[2] > arr1[2]){ //结束日期的日大于开始日期的日
                            flag = false;
                        }
                    }
                }
            }
            if(!flag){
                alert("查询区间不能超过一个月");
            }
            return flag;
        }

        $('#Export').on('click', function () {
            window.open("{:U('TwoPickCount/towPickExport',$conditions)}");
        })

    </script>
</block>






