<div style="position: relative; width:100mm;min-height:100mm;max-height:100mm;border:1px dashed black;padding:1mm;font-size:12px; margin:1px;overflow:hidden;position: relative;">
    <div style="border:2px inset black;width: 100mm;height: 100mm;">
        <div style="font-size: 12px;padding: 1mm;border: 1px solid;width: 46mm;margin: 2mm 0mm 0mm 12mm;">
            if undelivered please return to<br>
            <span style="font-weight: bold;">PO BOX 9852</span><br>
            1934 EMC-Brucargo-Belguim
        </div>
        <div style="font-size: 12px;padding: 1mm;border: 1px solid;width: 34mm;margin: -13.5mm 0mm 0mm 60mm;">
            <br>
            <span style="font-weight: bold;">BE.PP 9852</span><br>
            BELGIE(N)-BELGIGUE
        </div>
        <div style="font-weight: bold;font-size: 25px;margin: 1mm 0mm 0mm 80mm;width: 14mm;border: 1px black inset;text-align: center;">Z-1</div>
        <div style="margin: -4mm 0mm 0mm 5mm;font-size: 14px;">
            To:<br>
            {$Order['ebay_username']}<br>
            {$Order['ebay_street']} {$Order['ebay_street1']}<br>
            {$Order['ebay_city']}, {$Order['ebay_state']}<br>
            {$Order['ebay_postcode']}<br>
            {$Order['ebay_countryname']},{$Order['ebay_couny']},{$Order['countrycn']}
        </div>
        <div style="margin: 2mm 0mm 0mm 20mm;width: 56mm;text-align: center;">
            <img src="../barcode128.class.php?data={$Order['ebay_tracknumber']}" alt="" width="250" height="55" style="vertical-align: middle;"><br>
            {$Order['ebay_tracknumber']}
        </div>
        <div style="margin: 1mm 0mm 0mm 10mm;">
            Item detail:<br>
            <table style="border:1px inset black;width: 80mm;" cellpadding="0" cellspacing="0">
                <tr>
                    <th style="border:1px inset black;">Goods Description</th>
                    <th style="border:1px inset black;">Quantity</th>
                    <th style="border:1px inset black;">Sub Total</th>
                </tr>
                <tr>
                    <td style="border:1px inset black;">{$Order['yingwen']}</td>
                    <td style="border:1px inset black; text-align: center;">1</td>
                    <td style="border:1px inset black; text-align: center;">USD:{$Order['sbjz']}</td>
                </tr>
                <tr>
                    <td colspan="2" style="border:1px inset black;">Total:</td>
                    <td style="border:1px inset black;">USD:{$Order['sbjz']}</td>
                </tr>
            </table>
        </div>
        <div style="text-align: right;">Order No:ZS{$Order['ebay_id']}</div>
        <div style="position: absolute;right: 5px;">
            <span class="fonts" style="margin-right: 5px">{$countriest[$Order['ebay_carrier']]}</span>
        </div>
    </div>
</div>
<div class="mod_second_lables" style="width:100mm;min-height:100mm;max-height:100mm;border:1px dashed black;padding:1mm;font-size:12px; margin:1px;overflow:hidden;">
    <table width="100%" cellpadding="0" cellspacing="0" class="">
        <tr class="">
            <td>
                <div class="line_break font14" style="margin: 10mm;border:none;width:80mm;">
                    {$Order['skustr']}
                </div>
                <div class="font14">{$Order['ebay_carrier']}</div>
                <div class="font14">{$Order['ebay_id']}</div>
                <div class="font14">{$Order['ebay_tracknumber']}</div>
                <div class="font14 blod">请勿粘贴</div>
            </td>
        </tr>
    </table>
    <div style="margin-top:10px;margin-left:5px">
        <div >订 &nbsp;单&nbsp; 号  :{$Order['ebay_id']} </div>
        <div>打印时间 : <?php echo date('Y-m-d H:i:s');?></div>
    </div>
</div>