<div style="width:100mm;min-height:100mm;max-height:100mm;border:1px dashed black;padding:1mm;font-size:12px; margin:1px;overflow:hidden;">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="4" width="100" class="font9 blod pcenter1 nobottom">
                COMMERCIAL WAYBILL
            </td>
        </tr>
        <tr>
            <td colspan="4" width="100" class="font10 blod pcenter nobottom">
                <img src="../barcode128.class.php?data={$Order['pxorderid']}" alt="" style="width:80mm" height="36"/>
                <p class="pcenter" style="font-size: 12px">{$Order['pxorderid']}
                    <span style="font-weight:normal;" class="font7">[平]</span></P>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="40%" class="font10 blod nobottom noright">
                <div class=" font8 blod" style="width:100%">
                    {$Order['backAddress']}<br><br>
                    <div class="font11 blod">Deliver to:</div>
                </div>
            </td>
            <td colspan="2" width="60%" class="font10 blod nobottom">
               <div style="margin-bottom:2mm;">
                   <div style="border: 1px solid #000;height:3mm;width:3mm;display:inline-block"></div>
                   Gift
               </div>
                <div style="margin-bottom:2mm;">
                    <div style="border: 1px solid #000;height:3mm;width:3mm;display:inline-block"></div>
                    Commercial Sample
                </div>
                <div style="margin-bottom:1mm;">
                    <div style="border: 1px solid #000;height:3mm;width:3mm;display:inline-block"></div>
                    Other
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="" class="font10  noright">
                {$Order['ebay_username']}<br>
                {$Order['ebay_street']} {$Order['ebay_street1']}<br>
                {$Order['ebay_state']}  {$Order['ebay_city']}<br><br>
                Zip:{$Order['ebay_postcode']}<br>
                Tel: {$Order['ebay_phone']}/{$Order['ebay_phone1']}</br>
                {$Order['ebay_countryname']}<br><br>
                Refer of:{$Order['ebay_id']}
            </td>
            <td colspan="2" width="" class="font10">
                <p class="blod">Quantity and Description of Goods</p>
                <p>{$Order['shenbao']}*1</p>
                <div style="border-top: 1px solid #000;border-bottom: 1px solid #000;margin-top:3mm;padding:2mm;">
                    Total Value: USD 9.80
                </div>
                <div>
                    I,the undersigned,certify that the particulars given in this declaration are correct and that this item does not contain any dangerous or
                    prohibited articles in accordance with postal and/or customs legislation
                    <p class="font10 blod">Sender's Signature:</p>
                </div>
            </td>
        </tr>
    </table>
</div>


<div class="mod_second_lables" style="width:100mm;min-height:100mm;max-height:100mm;border:1px dashed black;padding:1mm;font-size:12px; margin:1px;overflow:hidden;">
    <table width="100%" cellpadding="0" cellspacing="0" class="">
        <tr class="">
            <td>
                <div class="line_break font14" style="margin: 10mm;border:none;width:80mm;">
                    {$Order['skustr']}
                </div>
                <div class="font14">{$Order['ebay_carrier']}</div>
                <div class="font14">{$Order['ebay_id']}</div>
                <div class="font14">{$Order['ebay_tracknumber']}</div>
                <div class="font14 blod">请勿粘贴</div>
            </td>
        </tr>
    </table>

    <div style="margin-top:10px;margin-left:5px">
        <div >订 &nbsp;单&nbsp; 号  :{$Order['ebay_id']} </div>
        <div>打印时间 : <?php echo date('Y-m-d H:i:s');?></div>
    </div>
</div>

