<css href="/newerp/Public/css/fonts.css" />
<div style="position: relative;width:100mm;min-height:100mm;max-height:100mm;border:1px dashed black;padding:1mm;font-size:12px; margin:1px;overflow:hidden;position: relative;">
    <table width="98%" cellpadding="0" cellspacing="0" style="margin-left:2mm">
        <tr>
            <td>
                <p style="text-align: center">
                    <img src="../themes/Sugar5/images/sf.png" width="80" height="35" />
                </p>
                <p style="font-size: 11px; text-align: center">
                    Small Packet
                </p>
            </td>
            <td>
                From: Zhang Tao<br>
                P.O. Box 7031 14002 Tallinn Estonia
            </td>
            <td>
                <p style="font-size: 11px; text-align: center">
                    POSTIMAKS
                    TASUTUD TAXE
                    PERÇUE ESTON<br>
                    No.199
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div>
                    <div style="float: left;width: 60mm;">
                        HAWB Ship to: {$Order['ebay_username']}
                    </div>
                    <div>
                        <p  style="text-align: center">
                            <img src="../barcode128.class.php?data={$Order['ebay_tracknumber']}" style="width:60mm;height:12mm "/>
                        </p>
                        <p style="font-size: 16px; text-align: center">
                            {$Order['ebay_tracknumber']}
                        </p>
                    </div>
                </div>
                <div>
                    Address:{$Order['ebay_street']}, {$Order['ebay_street1']},{$Order['ebay_city']}, {$Order['ebay_state']};<br>
                    ZIP: &nbsp; {$Order['ebay_postcode']};<br>
                    Tel:+<?php echo strlen($Order['ebay_phone']) > strlen($Order['ebay_phone1'])?$Order['ebay_phone']:$Order['ebay_phone1'];?>;<br>
                    Country: {$Order['countrycode']}
                </div>
            </td>
        </tr>
        <tr>
            <td align="center">
                Details of contents
            </td>
            <td  align="center">
                Weight (kg)
            </td>
            <td  align="center">
                Value(USD)
            </td>
        </tr>
        <tr>
            <td align="center">
                <?php
                    $shenbao = explode(',',$Order['shenbao']);
                    echo count($shenbao)>1?$shenbao[0]:$Order['shenbao'];
                ?>
            </td>
            <td align="center">
                0.8
            </td>
            <td align="center">
                1
            </td>
        </tr>
        <tr>
            <td align="center">
                Total Gross Weight(KG):
            </td>
            <td align="center">
                0.8
            </td>
            <td align="center">
                {$Order['ebay_company']}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                I certify that particulars given in this declaration are correct and
                this item does not contain any dangerous articles prohibited by
                legislation or by postal or customs regulations. Sender’s signature:
                Zhang Tao
            </td>
            <td align="center">
                <span style="font-size: 24px;font-weight: bold">N</span>
            </td>
        </tr>


        <!--添加拣货代码-->
        <div style="position: absolute;right: 5px;bottom: 3px;">
            <span class="fonts" style="margin-right: 5px">{$countriest[$Order['ebay_carrier']]}</span>
        </div>
    </table>
    <div style="position: absolute;right: 0;bottom: 0;width: 6mm;height: 6mm;">
        <b>
            <?php
             if(strstr($Order['ebay_carrier'],'顺丰东欧小包平邮-JOOM')){
                echo 'JM';
             }
            ?>
        </b>
    </div>
</div>
<div class="mod_second_lables" style="width:100mm;min-height:100mm;max-height:100mm;border:1px dashed black;padding:1mm;font-size:12px; margin:1px;overflow:hidden;">
    <table width="100%" cellpadding="0" cellspacing="0" style="margin:0 2mm">
        <tr class="">
            <td>
                <div class="line_break font14" style="margin: 9mm;border:none;width:80mm;">
                    {$Order['skustr']}
                </div>
                <div class="font14">{$Order['ebay_carrier']}</div>
                <div class="font14">{$Order['ebay_id']}</div>
                <div class="font14">{$Order['ebay_tracknumber']}</div>
                <div class="font14 blod">请勿粘贴</div>
            </td>
        </tr>
    </table>

    <div style="margin-top:10px;margin-left:5px">
        <div >订 &nbsp;单&nbsp; 号  :{$Order['ebay_id']} </div>
        <div>打印时间 : <?php echo date('Y-m-d H:i:s');?></div>
    </div>
</div>
