<css href="/newerp/Public/css/fonts.css" />
<div style="position: relative;width:100mm;min-height:100mm;max-height:100mm;border:1px dashed black;padding:1mm;font-size:12px; margin:1px;overflow:hidden;">
    <img style="height:100mm;width:100mm;" class="view" src="{$Order['pdfimg'][0]}"/>
    <div style="position: absolute;right: 5px;bottom: 0px;">
        <span class="fonts" style="margin-right: 5px">{$countriest[$Order['ebay_carrier']]}</span>
    </div>
    <div style="position: relative; margin-left: 1mm; width: 73mm; height: 20mm; margin-top: -79mm; background-color:#fff"><div style="float: left; width: 10mm;">FROM:</div><div style="float: right; width: 60mm;">FT No.3 two Heng Road, Helong Road, Baiyun District, Guangzhou, Guangdong,China<br>13631272440</div></div>
    <div style="width: 20mm; background:#fff; position: relative; margin-left: 13mm;">510440</div>
</div>

<div style="position: relative;width:100mm;min-height:100mm;max-height:100mm;border:1px dashed black;padding:1mm;font-size:12px; margin:1px;overflow:hidden;">
    <img style="margin-left: -2mm;margin-top: -2mm;width: 103mm;height: 108mm" class="view" src="{$Order['pdfimg'][1]}"/>
<!--添加拣货代码-->
<if condition="$Order['ebay_carrier'] eq '美国专线-DHL' ">
    <div style="position: absolute;right: 5px;bottom: 0px;">
        <span class="fonts" style="margin-right: 5px">{$countriest[$Order['ebay_carrier']]}</span>
    </div>
 <else/>
    <div style="position: absolute;right: 5px;bottom: 0px;">
        <span class="fonts" style="margin-right: 5px">{$countriest[$Order['ebay_carrier']]}</span>
    </div>
</if>

</div>