<css href="/newerp/Public/css/fonts.css" />
<div style="position: relative;width:100mm;min-height:100mm;max-height:100mm;border:1px dashed black;padding:1mm;font-size:12px; margin:1px;overflow:hidden;">

    <div style="margin-top:30px;">
        <div class="font14">{$Order['ebay_carrier']}</div><br/>
        <div class="font12">
            {$Order['ebay_username']}<br/><br/>
            {$Order['ebay_street']} ,{$Order['ebay_street1']}<br/>
            {$Order['ebay_city']} ,{$Order['ebay_state']},{$Order['ebay_postcode']}<br/><br/>
            {$Order['ebay_countryname']}
        </div>
        <img src="/barcode128.class.php?data={$Order['ebay_tracknumber']}" alt="" width="90%" height="47"/><br/>
        <div class="font20" style="text-align:center">{$Order['ebay_tracknumber']}</div>
    </div>

    <!--添加拣货代码-->
    <div style="position: absolute;right: 5px;bottom: 3px;" class="fonts">
        <span class="fonts" style="margin-right: 5px">{$countriest[$Order['ebay_carrier']]}</span>
    </div>
</div>

<div class="mod_second_lables" style="width:100mm;min-height:100mm;max-height:100mm;border:1px dashed black;padding:1mm;font-size:12px; margin:1px;overflow:hidden;">
    <table width="100%" cellpadding="0" cellspacing="0" class="">
        <tr class="">
            <td>
                <div class="line_break font14" style="margin: 10mm;border:none;width:80mm;">
                    {$Order['skustr']}
                </div>

                <div class="font14">{$Order['ebay_id']}</div>
                <div class="font14">{$Order['ebay_tracknumber']}</div>
                <div class="font14 blod">请勿粘贴</div>
            </td>
        </tr>
    </table>

    <div style="margin-top:10px;margin-left:5px">
        <div >订 &nbsp;单&nbsp; 号  :{$Order['ebay_id']} </div>
        <div>打印时间 : <?php echo date('Y-m-d H:i:s');?></div>
    </div>
</div>