#whouse_menu{width:40px;height:30px;display:inline-block;vertical-align: middle;cursor:pointer;
    -webkit-box-shadow:inset 0 0 4px #555;
    -moz-box-shadow:inset 0 0 4px #555;
    box-shadow:inset 0 0 4px #555;
    background:url("../../../themes/default/images/menu_come.png") 5px 0 no-repeat;
}



#whouse_menu div.openDiv {
    background: #fafafa none repeat scroll 0 0;
    border: 2px solid #FFA500;
    display: none;
    margin-top: 29px;
    margin-left: -1px;
    max-width: 660px;
    padding-top: 10px;
    position: absolute;
    width: auto;
    z-index: 9999;
}

#whouse_menu:hover div.openDiv{
    display:block;
}

#whouse_menu div.openDiv span.childmod
{
    float: left;
    margin: 3px;
    padding: 3px;
}

#whouse_menu div.openDiv span.childmod a {
    background: rgba(0, 0, 0, 0) url("../../../themes/Sugar5/images/icon.gif") no-repeat scroll 0 -3868px;
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0;
    padding: 0 10px 0 11px;
}

.font21{font-size:21px;}
.font18{font-size:18px;}
.bold{font-weight:bold;}
.carrier{color: #FFF;}